body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.h1,
.h5,
.h6,
.form-label,
.form-control,
p {
  color: #666;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

